

.navBar-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;
    font-size: 1.2em;
}

.navBar-img {
    mix-blend-mode: darken;
    border: 1px solid blue;
    
}

.navBar-img img {
   max-width: 11em;
}

.navBar-ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 1em;
    margin-right: 2em;
}

.navBar-ul a {
    text-decoration: none;
    color: #439762;
    font-weight: bold;
    transition: .5s all;
}

.navBar-ul a:hover {
    color: #89fcb3;
}

.navBar-ul .signUp-btn {
    border: 1px solid #439762;
    padding: .4em 1em;
    border-radius: .5em;
}

